@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@700&display=swap');




a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}