.login-contianer {
    padding: 2rem;

    margin: auto;
    width: 500px;
    text-align: center;
    background-color: $clr3;
    margin-block: 6rem;
    border-radius: 2rem;

    .login-form {
        margin-bottom: 2rem;
    }

}